<div class="col-12 ml-auto mr-auto">
  <br />
  <div class="headline text-center">
    <h1 class="display-3">Get to know your favorite songs.</h1>
  </div>
  <br />
  <%= form_tag(search_results_songs_path, {class: 'col-12 col-sm-8 col-md-6 ml-auto mr-auto align-center'}) do %>
    <div class="form-group">
      <%= search_field_tag('query',nil, class: 'form-control text-left', placeholder: 'Love Somebody Maroon 5') %>
      <br />
      <div class="text-right">
	<%= button_tag 'Search', class: 'btn btn-primary ml-auto' %>
      </div>
    </div>
  <% end %>
  <br /><hr/> <br />
  <div class="row ml-auto mr-auto align-center">
    <% @results.each_with_index do |r, i| %>
      <div class='col-12 col-md-10 col-lg-6'>
	<div class='card text-center bg-white song-card'>
	  <div class="row <%= r.id %>">
	    <div class="col-4">
	      <%= image_tag r.album.images[1]["url"], class: 'img-fluid ml-auto' %>
	    </div>
	    <div class="col-8 text-left">
	      <h4><%= r.name %></h4>
	      <h5><%= r.artists[0].name %></h5>
	      <p>Duration: <%= duration(r.duration_ms) %> <br/>Tempo: <%= r.audio_features.tempo.round(0) %></p>
	    </div>
	  </div>
	  <% if @spotify_user != nil %>
	    <script>
$(document).ready(function() {
  $(".<%= r.id %>").on('click', function() {
    var $song = "<%= r.id %>"
      $.post("http://localhost:3000/songs/play_song/",
	  {
	    song_id: $song
	  });
  });
});
	    </script>
	  <% end %>
	</div>
      </div>
    <% end %>
  </div>
</div>
