<!DOCTYPE html>
<html>
  <head>
    <title>SongAnalysisApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Song Analysis', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item active">
	    <% if UserAuth.current == nil %>
	      <%= link_to 'Login with Spotify', @spotify, class: "nav-link" %>
	    <% end %>
	  </li>
	  <li class="nav-item">
	    <%= link_to "Create Song", search_songs_path, class: "nav-link" %>
	  </li>
	</ul>
	<span class="navbar-text">
	  You are not currently logged in
	</span>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
